/* Structural */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:url(images/sullivans.jpg);
    background-size: cover;
}

#content {
    background-color: rgba(255, 255, 166, 0.7);
    width:70%;
    margin:auto; /* center in the page */
    border-radius:5px;
    box-shadow: 5px 5px yellow;
}


/* Navigation */


/* Typography */
h1 {
    color: pink;
}