/* Structure */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f4f8;
}

#content {
    width: 90%;
    margin: auto;
    background-color: #f3e8f2;
}

header {
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

section {
    background-color: #fff7fc;
    border: 2px solid #c98fbd;
    min-height: 300px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

footer {
    text-align: center;
    padding: 5px;
}


/* Typography */

h1 {
    color: #7b4b78;
}

h2 {
    color: #c05c8e;
}

h3 {
    color: #7b4b78;
    text-align: center;
}


/* Speech */

#speech-bubble {
    display: none;
    background-color: white;
    border: 3px solid #7b4b78;
    border-radius: 20px;
    width: 60px;
    padding: 20px 5px;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

#speech-bubble:after {
    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: #7b4b78 transparent transparent transparent;
    bottom: -30px;
    right: 5px;
}

.show {
    display: block !important;
}


/* Beverage */

#beverage p {
    color: #7b4b78;
}


/* Sticker */

#sticker-area {
    position: relative;
    text-align: center;
}

#sun {
    width: 150px;
}

#emoji {
    display: none;
    position: absolute;
    top: 30px;
    left: 25%;
    font-size: 25px;
}

.show-sticker {
    display: inline !important;
}


/* Larger Resolutions */

@media (min-width: 768px) {

    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    section {
        margin: 15px;
    }
}