body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#content {
    background-color: #f5f5eb;
    width: 60%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #5b8991;
}

h2 {
    color: #df7777;
}

label {
    color: #5b8991;
    font-size: 20px;
}

select {
    font-size: 18px;
    padding: 5px;
    margin-left: 10px;
}

#destination-list p {
    margin: 15px;
}

#destination-list a {
    color: #5b8991;
    font-size: 18px;
}

iframe {
    width: 80%;
    height: 450px;
    border: 0;
    margin-top: 20px;
}

footer p {
    color: #df7777;
}